#include "resource.h"

IDD_NEW_KEY DIALOGEX 0, 0, 300, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "New key"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    RTEXT           "Name:", 1001, 7, 10, 25, 8
    EDITTEXT        IDC_NAME_EDIT, 46, 7, 247, 14, ES_AUTOHSCROLL

    RTEXT           "Type:", 1002, 7, 30, 25, 8
    COMBOBOX        IDC_TYPE_COMBO, 46, 28, 150, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "Generate", IDOK, 189, 49, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 243, 49, 50, 14
END

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
END
